/*
Colors used:
Site colors 
#292929 dark grey 
#6E6E6E grey 

Project colors
#D7DBCD sincere green
#4C5BA8 dusen purple 
#9D6660 home brown 
#FDFBF7 buttery white 
#F1613D bzc red 
*/

header {
  background-color: #fef3dd;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #6E6E6E;
}

* {
  box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #292929;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  /*
  Background Colors, Borders, and Hover States
  */
  a {
    color: #3246ad;
    text-decoration: none; /* No underlining */
  }
  a:hover, 
  a:focus {
    color: #3c55d5;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #36427f;
  }
  a:active { /* selected link */
    color: #18235b;
  }

    
  /*
  buttons
  */

  .button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #292929;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 18px;
  border-bottom: 0 solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited { /* visited link */
  color: #ffffff;
}
button:active { /* selected link */
  color: #6c7dcf;
}

.button.contact {
  background-color: transparent;
  color: #4C5BA8;
  text-transform: uppercase;
  border: 2px solid #4C5BA8;
}

.button.contact:hover {
  background-color: #4C5BA8;
  color: #ffffff;    
  text-decoration: none; /* No underlining */
}

/* Layout styling */
.container {
  padding: 0 15px;
}