/*
Colors used:
Site colors 
#292929 dark grey 
#6E6E6E grey 

Project colors
#D7DBCD sincere green
#4C5BA8 dusen purple 
#9D6660 home brown 
#FDFBF7 buttery white 
#F1613D bzc red 
*/

nav > ul {
  list-style-type: none; /* Removes the default bullet points from the list */
  padding: 0; /* Removes default padding around the list */
}

nav > ul > li { 
  display: inline-block; /* Makes the list items line up next to each other horizontally (instead of stacked vertically) */
  width: 100 
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #292929
}

.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

header {
  background-color: #faf6ee;
  padding: 20px 10px 10px;
  border-bottom: 3px solid #6E6E6E;
  text-align: center;
  position: fixed;
  width: 100%
}

* {
  box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #292929;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  main {
    padding-top: 133px;
  }
  /*
  Background Colors, Borders, and Hover States
  */
  a {
    color: #3246ad;
    text-decoration: none; /* No underlining */
  }
  a:hover, 
  a:focus {
    color: #3c55d5;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #36427f;
  }
  a:active { /* selected link */
    color: #18235b;
  }

    
  /*
  buttons
  */

  .button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #292929;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 18px;
  border-bottom: 0 solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited { /* visited link */
  color: #ffffff;
}
button:active { /* selected link */
  color: #6c7dcf;
}

.button.contact {
  background-color: transparent;
  color: #4C5BA8;
  text-transform: uppercase;
  border: 2px solid #4C5BA8;
}

.button.contact:hover {
  background-color: #4C5BA8;
  color: #ffffff;    
  text-decoration: none; /* No underlining */
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}